$c: 'Black', #000;
$c: 'Blue 3', #333b4f;
$c: 'Blue 2', #262c3b;
$c: 'Member Variable', #bbe0ff;
$c: 'Function', #56b2ff;
$c: 'Function Declaration', #5ecde4;
$c: 'Number', #a0ffe0;
$c: 'Line Length Guideline', #333a4f;
$c: 'Brace Mismatch, Mark, Breakpoint', #ff776b;
$c: 'Line Highlight', #303340;
$c: 'Text Selected', #191d27;
$c: 'Text, Line number', #cccdd3;
$c: 'String', #ffeba0;
$c: 'Comment', #cbccd280;
$c: 'Background +8', #272c39;
$c: 'Background +4', #232835;
$c: 'Background', #1f2431;
$c: 'Background -4', #1b202d;
$c: 'Line numbers', #A1C2AA;
$c: 'Background -8', #171c29;
$c: 'Type User', #c6ffec;
$c: 'Type Engine', #8dffda;
$c: 'Type Base', #42ffc1;
$c: 'Keyword', #ff7084;
$c: 'Symbol', #aac8ff;